.link-text{
  color: green;
  font-style: italic;
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 10px;
}

.icon-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99999999;
  flex: 1;
  width: 100%;
  padding: 15px;
}

.icon-row-grid{
  padding-top: 70px;
  padding-left: 0px;
  padding-right: 0px;
}
.icon-row-list{
  position: relative!important;
}

.status-icon{
  width: 50px;
  height: 50px;
  pointer-events: auto;
}

.icon-row-list .status-icon{
  width: 20px!important;
  height: 20px!important;
}
